.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 12px;
  border: 1px solid #2c2c2e;
  border-radius: 4px;
  width: 80%;
  max-width: 1200px;
  padding: 0 20px;
}

.logo {
  font-family: Teko, serif;
  color: #9B1112;
  font-size: 40px;
  margin-top: 8px;
}
.buttonStyle {
  border: none;
  cursor: pointer;
  padding: 1rem;
  background-color: #121212;
  font-family: Paperlogy, serif;
  font-weight: 400;
}


.loginButtonStyle {
  border: none;
  cursor: pointer;
  padding: 1rem;
  background-color: #9B1112;
  border-radius: 5px;
  font-family: Paperlogy, serif;
  font-weight: 400;
}

.buttonStyle:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 1rem;
}

